
@media (min-width: 300px) {
    .line-gap {
        line-height: 45px;
        letter-spacing: 1px;
        font-style: italic;
    }
}

@media (min-width: 640px) {
    .line-gap {
        line-height: 60px;
        letter-spacing: 1px;
        font-style: italic;
    }
}

@media (min-width: 768px) {
    .line-gap {
        line-height: 50px;
        font-style: normal;
        letter-spacing: 0px;
    }
}

@media (min-width: 1024px) {
    .line-gap {
        line-height: 60px;
    }
}

@media (min-width: 1520px) {
    .line-gap {
        line-height: 65px;
    }
}