/*  RANGE INPUT STYLE */
input[type="range"] {
  accent-color: #0F5259;
}


/*  CHECKOUT INPUT STYLE */
/* input[type="checkbox"] {
  display: none;
} */

/* Style the custom checkbox label */
/* input[type="checkbox"]+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
} */

/* Style the checkmark inside the label */
/* input[type="checkbox"]+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0F5259;
  background-color: #fff;
  transition: background-color 0.3s;
  margin-top: 2px;
}


input[type="checkbox"]:checked+label::before {
  background-color: #0F5259;
}

@media (min-width: 320px) {

  input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #0F5259;
    background-color: #fff;
    transition: background-color 0.3s;
  }

}

@media (min-width: 1280px) {
  input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; 
    height: 20px; 
    border: 2px solid #0F5259; 
    background-color: #fff; 
    transition: background-color 0.3s;
  }
}

@media (min-width: 1520px) {
  .line-height {
    line-height: 80px;
  }
} */