.custom-animation {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

@media (min-width: 320px) {

    #banner {
        background-image: none;
    }

    @keyframes move {
        from {
            transform: translateY(-5px);
        }

        to {
            transform: translateY(5px);
        }
    }
}


@media (min-width: 1024px) {

    #banner {
        background-image: url('/home/dark3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px;
    }
}


@media (min-width: 1280px) {
    .line-height {
        line-height: 65px;
    }
}

@media (min-width: 1520px) {
    .line-height {
        line-height: 80px;
    }
}